
<style>
    .mainContent{
      display: grid;
      grid-template-columns: 0fr auto;
    }
  
    .mainContent2{
      display: grid;
      grid-template-columns: 1fr;
    }
   
    .ClassRoutes{
      width: 15em;
    }
  
    .LeftMenu{
      display: grid;
      align-items: center;
    }
  
    :host ::ng-deep {
      .dock-window {
          width: 100%;
          height: 450px;
          position: relative;
          background-repeat: no-repeat;
          background-size: cover;
      }
      .p-dock {
          z-index: 1000;
      }
    }

    #myMessageP .p-message{
      margin: 0!important;
    }

    :host ::ng-deep .p-message {
      margin: 0!important;
    }


  </style>
  
  <main class="main">


    <p-messages id="myMessageP" [style]="{'margin': 0}" severity="info">
      <ng-template pTemplate>
          <span style="margin-right:8px ;">user: <strong>{{firebase.user?.email}}</strong></span>
          <p-button 
            (click)="callLogOut()" 
            label="logOut" 
            severity="info" 
            size="small"
          ></p-button>
      </ng-template>
    </p-messages>
  
    <div class="mainContent">
  
      <div  class="LeftMenu">
          <!--SECOND LEFT MENU-->
          <div class="ClassRoutes">
            
            <div class="dock-window">
                <p-dock [model]="items" position="left">
                    <ng-template pTemplate="item" let-item>
                        <img 
                          [src]="item.icon" 
                          [alt]="item.label" 
                          width="100%"
                          [routerLink]="item.path" 
                          [routerLinkActive]="item.path" 
                          [routerLinkActiveOptions]='{exact:true}'
                        />
                    </ng-template>
                </p-dock>
            </div>
        </div>
      </div>
      <div class="routerOutletContainer">
        <router-outlet ></router-outlet>
      </div>
    
  
    </div>
  </main>
  
  
  
  