
<style>
    .mainContent{
      display: grid;
      grid-template-columns: 0fr auto;
    }
  
    .mainContent2{
      display: grid;
      grid-template-columns: 1fr;
    }
   
    .ClassRoutes{
      width: 15em;
    }
  
    .LeftMenu{
      display: grid;
      align-items: center;
    }
  
    :host ::ng-deep {
      .dock-window {
          width: 100%;
          height: 450px;
          position: relative;
          background-repeat: no-repeat;
          background-size: cover;
      }
      .p-dock {
          z-index: 1000;
      }
    }
  </style>
  
  <main class="main">
  
    <div  >
      <span>user: {{firebase.user?.email}} </span>
      <button (click)="callLogOut()">logOut</button>
    </div>
  
    <div class="mainContent">
  
      <div  class="LeftMenu">
          <!--SECOND LEFT MENU-->
          <div class="ClassRoutes">
            
            <div class="dock-window">
                <p-dock [model]="items" position="left">
                    <ng-template pTemplate="item" let-item>
                        <img 
                          [src]="item.icon" 
                          [alt]="item.label" 
                          width="100%"
                          [routerLink]="item.path" 
                          [routerLinkActive]="item.path" 
                          [routerLinkActiveOptions]='{exact:true}'
                        />
                    </ng-template>
                </p-dock>
            </div>
        </div>
      </div>
      <div class="routerOutletContainer">
        <router-outlet ></router-outlet>
      </div>
    
  
    </div>
  </main>
  
  
  
  