
PRODUCTS
<app-html-generator
    [instanceParentCaller]="this"
    [configHTML]="{
        'type': 'list',
        'confButtonAdd': {
            'label': 'Add Products',
            'style': 'text-align: center;margin-top: 20px;',
            'color': 'primary',
            'buttonType': 'mat-raised-button'
        },
        'displayedColumns': ['id', 'title', 'brand', 'description'],        
        'displayFields': [ 
            {'headerName': 'Id',          'namefieldBody': 'id'},
            {'headerName': 'Title',       'namefieldBody': 'title'},
            {'headerName': 'Brand',       'namefieldBody': 'brand'},
            {'headerName': 'Description', 'namefieldBody': 'description'},
        ],
    }"
></app-html-generator>
