<div style="margin: 50px;" class="contenitorForm">
    <form [formGroup]="loginForm" >


        <div class="">
            <label for="email">Insert Valid email</label>
            <input pInputText  id="email" type="email" formControlName="email"  />            
        </div>

        <label for="password">password: </label>
        <input id="password" type="password" formControlName="password">

        <h4>Form Status: {{ loginForm.status }}</h4>    
        
        <button type="submit" (click)="callSignInSignUpFunction(0)"> Sign In </button> 
        <button type="submit" (click)="callSignInSignUpFunction(1)"> Sign Up </button> 

        <div style="color: red;">{{firebase.errorAuth}}</div>
        
    </form>
</div>
