
<div>


<form [formGroup]="form" >
    <div style="margin-top: 10px;">
        
        <div style="margin-top: 10px;">
        
            <div style="display: none;">
                <label for="id">id: </label>
                <input id="id" type="text" formControlName="id">
                <br>
            </div>

            <div>
                <label for="brand">brand: </label>
                <input id="brand" type="text" formControlName="brand">
                <br>
            </div>  
    
            <div>        
                <label for="title">title: </label>
                <input id="title" type="text" formControlName="title">
                <br>
            </div>

            <div>
                <label for="description">description: </label>
                <input id="description" type="text" formControlName="description">
                <br>
            </div>
        </div> 

        <mat-form-field style="margin-top: 10px;">
            <!--<mat-label for="categoryId">Select an option</mat-label>-->
            <mat-select id="categoryId" [value]="selectedId" formControlName="categoryId" >
                <mat-option 
                    *ngFor="let iSelected of listCategories" 
                    [value]="iSelected.id"
                >
                    {{iSelected.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
    </div>       
    <div style="margin-top: 10px;">
        <button *ngIf="isNew()" type="submit" (click)="add()" [disabled]="!form.valid">Add</button>
        <button *ngIf="!isNew()" type="submit" (click)="update()" > Update </button>
        <button *ngIf="!isNew()" type="submit" (click)="delete()" [disabled]="!form.valid">Delete</button>
    </div>    
</form>

<!--
<app-html-generator
    [instanceParentCaller]="this"
    [configHTML]="{
        'type': 'detail',
        'configForm': [
            { 'styleContenitorLabelInput': 'display:none', 'label': 'id:', 'formControlName': 'id' },
            { 'styleContenitorLabelInput': 'margin-top:10px', 'label': 'Brand:', 'formControlName': 'brand' },
            { 'styleContenitorLabelInput': 'margin-top:10px', 'label': 'title:', 'formControlName': 'title' },
            { 'styleContenitorLabelInput': 'margin-top:10px', 'label': 'description:', 'formControlName': 'description' },
        ]
    }"
></app-html-generator>
-->
</div>

