
<div>
<app-html-generator
    [instanceParentCaller]="this"
    [configHTML]="{
        'type': 'detail',
        'configForm': [
            { 'styleContenitorLabelInput': 'display:none', 'label': 'id:', 'formControlName': 'id' },
            { 'styleContenitorLabelInput': 'margin-top:10px', 'label': 'Brand:', 'formControlName': 'brand' },
            { 'styleContenitorLabelInput': 'margin-top:10px', 'label': 'title:', 'formControlName': 'title' },
            { 'styleContenitorLabelInput': 'margin-top:10px', 'label': 'description:', 'formControlName': 'description' },
        ]
    }"
></app-html-generator>

</div>