<p>MY FORM!</p>

<div>

    <!-- (ngSubmit)="onSubmit()" -->
    <form [formGroup]="profileForm" >
        <label for="id">id: </label>
        <input id="id" type="text" formControlName="id">
        <br>

        <label for="first-name">brand: </label>
        <input id="first-name" type="text" formControlName="brand">
        <br>

        <label for="last-name">title: </label>
        <input id="last-name" type="text" formControlName="title">

        <h4>Form Status: {{ profileForm.status }}</h4>
        <button type="submit" (click)="GetP()" [disabled]="!profileForm.valid">Get</button>
        <button type="submit" (click)="AddP()" [disabled]="!profileForm.valid">Add</button>
        <button type="submit" (click)="UpdateP()" [disabled]="!profileForm.valid">Update</button>
        <button type="submit" (click)="DeleteP()" [disabled]="!profileForm.valid">Delete</button>
    </form>

    
    <div 
        style="margin-top: 50px;border: 1px solid gray;padding: 8px;" 
        *ngIf="product"
    >
        <div *ngIf="product?.id">
            <h3>GetProduct</h3>
            <div>id: {{product.id }}</div>
            <div>title: {{product.title}}</div>
            <div>brand: {{product.brand}}</div>
            <div>description: {{product.description}}</div>
        </div>
        <h3 *ngIf="product?.notFound">{{product.notFound}}</h3>

    </div>


</div>