
<style>
    .marginTopContenitorInput{
        margin-top: 22px;
    }

    .mainContanitorInputs{
        margin-top: 40px;
    }

</style>


<div>
    
    <form [formGroup]="form" >
        <div  class="mainContanitorInputs">
            
            <div style="display: none;">
                <label for="id">id: </label>
                <input id="id" type="text" formControlName="id">
                <br>
            </div>
            
            <div class="flex justify-content-center">
                <div class="p-float-label">                    
                    <input pInputText id="brand" formControlName="brand"  />
                    <label for="brand">Brand</label>
                </div>
            </div>

            <div class="flex justify-content-center marginTopContenitorInput">
                <div class="p-float-label">                    
                    <input pInputText id="title" formControlName="title"  />
                    <label for="title">Title</label>
                </div>
            </div>

            <div class="flex justify-content-center marginTopContenitorInput">
                <div class="p-float-label">                    
                    <input pInputText id="description" formControlName="description"  />
                    <label for="description">Description</label>
                </div>
            </div>


        </div>       

        <div style="margin-top: 15px;">
            <p-button 
                *ngIf="isNew()"
                label="Add" 
                icon="pi pi-plus" 
                iconPos="right"  
                type="submit" 
                (click)="add()" 
                [disabled]="!form.valid" 
            ></p-button>                     
            <p-button 
                *ngIf="!isNew()"
                label="Update" 
                severity="warning" 
                icon="pi pi-exclamation-triangle" 
                iconPos="right"  
                type="submit" 
                (click)="update()"
                [disabled]="!form.valid" 
            ></p-button>            
            <p-button 
                *ngIf="!isNew()"
                label="Delete" 
                severity="danger"  
                icon="pi pi-times" 
                iconPos="right"  
                type="submit" 
                (click)="delete()"
                [disabled]="!form.valid" 
                [style]="{'margin-left': '6px'}"
            ></p-button>
        </div>    
    </form>


</div>