
<style>
  .mainContent{
    display: grid;
    grid-template-columns: 0fr auto;
  }
 
  .ClassRoutes{
    width: 15em;
  }

  .LeftMenu{
    display: grid;
    align-items: center;
  }

  :host ::ng-deep {
    .dock-window {
        width: 100%;
        height: 450px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .p-dock {
        z-index: 1000;
    }
  }
</style>

<main class="main">
  <div class="mainContent">

    <div class="LeftMenu">

      <!--Deprecated LEFT MENU-->
    
      <!--
      <div 
        class="ClassRoutes" 
        routerLink="/products" 
        routerLinkActive="miaClasse" 
        [routerLinkActiveOptions]='{exact:true}'
      > 
        products 
      </div>
      <div 
        class="ClassRoutes" 
        routerLink="/categories" 
        routerLinkActive="miaClasse" 
        [routerLinkActiveOptions]='{exact:true}'
      > 
        categories 
      </div>
      <div 
        class="ClassRoutes" 
        routerLink="/bottles" 
        routerLinkActive="bottles" 
        [routerLinkActiveOptions]='{exact:true}'
      > 
        bottles 
      </div>
      <div 
        class="ClassRoutes" 
        routerLink="/home" 
        routerLinkActive="home" 
        [routerLinkActiveOptions]='{exact:true}'
      > 
        home 
      </div>
      -->
  


      <!--SECOND LEFT MENU-->
      <div class="ClassRoutes">
        
        <div class="dock-window">
            <p-dock [model]="items" position="left">
                <ng-template pTemplate="item" let-item>
                    <img 
                      [src]="item.icon" 
                      [alt]="item.label" 
                      width="100%"
                      [routerLink]="item.path" 
                      [routerLinkActive]="item.path" 
                      [routerLinkActiveOptions]='{exact:true}'
                    />
                </ng-template>
            </p-dock>
        </div>
    </div>

    
    </div>
    <div class="routerOutletContainer">
      <router-outlet ></router-outlet>
    </div>
    
    <!--
    <div>
      <div *ngFor="let item of repoProducts" class="listClass">
        <div class="singleItem">
          <span>product: {{item.title}} - </span> 
          <span>price {{item.price}} €</span> 
        </div>
      </div>
    </div>
    -->

  </div>
</main>



