
<style>
  .content{
    display: flex;
  }
 
  .ClassRoutes{
    cursor: pointer;
    width: 15em;
  }
</style>

<main class="main">
  <div class="content">

    <div>
      <div 
        class="ClassRoutes" 
        routerLink="/products" 
        routerLinkActive="miaClasse" 
        [routerLinkActiveOptions]='{exact:true}'
      > 
        products 
      </div>
      <!--
        <div 
          class="ClassRoutes" 
          routerLink="/categories" 
          routerLinkActive="miaClasse" 
          [routerLinkActiveOptions]='{exact:true}'
        > 
          categories 
        </div>
      -->
    </div>
    <router-outlet></router-outlet>
    <!--
    <div>
      <div *ngFor="let item of repoProducts" class="listClass">
        <div class="singleItem">
          <span>product: {{item.title}} - </span> 
          <span>price {{item.price}} €</span> 
        </div>
      </div>
    </div>
    -->

  </div>
</main>



